<div class="container">
  <div class="cocktail-box">
    <h1><%= @cocktail.name %></h1>
    <div class="details-box">
      <% @cocktail.doses.each do |dose| %>
      <ul>
        <li>
          <%= dose.ingredient.name %>
        </li>
        <li>
          <%= dose.description %>
        </li>
        <li>
          <%= link_to cocktail_dose_path(dose),
          method: :delete,
          data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
      </ul>
      <% end %>
      <%= render '/doses/form' %>
    </div>
  </div>
</div>
